<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">WebAmp</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-dial" aria-hidden="true"></span> Control
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="zone">
                <span class="oi oi-location" aria-hidden="true"></span> Zones
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="source">
                <span class="oi oi-musical-note" aria-hidden="true"></span> Sources
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="connection">
                <span class="oi oi-wrench" aria-hidden="true"></span> Connection Settings
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
