@page "/source"

<PageTitle>Sources</PageTitle>

@inject IAmplifierService AmplifierService

<MudPaper Class="pa-3" Elevation="4">
	<MudStack>
		<MudText Typo="Typo.h5">Sources</MudText>
		<MudSimpleTable>
			<thead>
				<tr>
					<th>Input</th>
					<th>Active</th>
					<th>Name</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var Current in AmplifierService.Sources)
				{
					<tr>
						<td><MudText Typo="Typo.body1">@Current.ID</MudText></td>
						<td><MudSwitch @bind-Checked="@Current.Enabled" Color="Color.Primary" /></td>
						<td><MudInput MaxLength="25" @bind-Value="@Current.Name" /></td>
					</tr>
				}
			</tbody>
		</MudSimpleTable>
	</MudStack>
</MudPaper>