@page "/zone"

<PageTitle>Zones</PageTitle>

@inject IAmplifierService AmplifierService

<MudPaper Class="pa-3" Elevation="4">
	<MudStack>
		<MudText Typo="Typo.h5">Zones</MudText>
		<MudSimpleTable>
			<thead>
				<tr>
					<th>Amp</th>
					<th>Zone</th>
					<th>Active</th>
					<th>Name</th>
				</tr>
			</thead>
			<tbody>
					@foreach (var CurrentAmplifier in AmplifierService.Amplifiers)
					{
						@foreach (var CurrentZone in CurrentAmplifier.Zones)
						{
							<tr>
								<td><MudText Typo="Typo.body1">@CurrentAmplifier.ID</MudText></td>
								<td><MudText Typo="Typo.body1">@CurrentZone.ZoneID</MudText></td>
								<td><MudSwitch @bind-Checked="@CurrentZone.Enabled" Color="Color.Primary" /></td>
								<td><MudInput MaxLength="25" @bind-Value="@CurrentZone.Name" /></td>
							</tr>
						}
					}
			</tbody>
		</MudSimpleTable>
	</MudStack>
</MudPaper>