<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MPRSGxZ.Settings.LinkedZones" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MPRSGxZ.Settings.Amplifiers" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MPRSGxZ.Settings.Zones" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MPRSGxZ.Settings.Sources" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MPRSGxZ.Settings.Sources.Source1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MPRSGxZ.Settings.Configuration" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MPRSGxZ.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MPRSGxZ.Settings.Amplifiers>
            <setting name="Name" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Master</string>
                        <string>Slave 1</string>
                        <string>Slave 2</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ZoneCount" serializeAs="Xml">
                <value>
                    <ArrayOfInt xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <int>6</int>
                        <int>6</int>
                        <int>6</int>
                    </ArrayOfInt>
                </value>
            </setting>
        </MPRSGxZ.Settings.Amplifiers>
        <MPRSGxZ.Settings.Zones>
            <setting name="Name" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Zone 1</string>
                        <string>Zone 2</string>
                        <string>Zone 3</string>
                        <string>Zone 4</string>
                        <string>Zone 5</string>
                        <string>Zone 6</string>
                        <string>Zone 7</string>
                        <string>Zone 8</string>
                        <string>Zone 9</string>
                        <string>Zone 10</string>
                        <string>Zone 11</string>
                        <string>Zone 12</string>
                        <string>Zone 13</string>
                        <string>Zone 14</string>
                        <string>Zone 15</string>
                        <string>Zone 16</string>
                        <string>Zone 17</string>
                        <string>Zone 18</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Enabled" serializeAs="Xml">
                <value>
                    <ArrayOfBoolean xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <boolean>false</boolean>
                        <boolean>false</boolean>
                        <boolean>false</boolean>
                        <boolean>false</boolean>
                        <boolean>false</boolean>
                        <boolean>false</boolean>
                        <boolean>false</boolean>
                        <boolean>false</boolean>
                        <boolean>false</boolean>
                        <boolean>false</boolean>
                        <boolean>false</boolean>
                        <boolean>false</boolean>
                        <boolean>false</boolean>
                        <boolean>false</boolean>
                        <boolean>false</boolean>
                        <boolean>false</boolean>
                        <boolean>false</boolean>
                        <boolean>false</boolean>
                    </ArrayOfBoolean>
                </value>
            </setting>
        </MPRSGxZ.Settings.Zones>
        <MPRSGxZ.Settings.Sources>
            <setting name="Name" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Source 1</string>
                        <string>Source 2</string>
                        <string>Source 3</string>
                        <string>Source 4</string>
                        <string>Source 5</string>
                        <string>Source 6</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Enabled" serializeAs="Xml">
                <value>
                    <ArrayOfBoolean xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <boolean>false</boolean>
                        <boolean>false</boolean>
                        <boolean>false</boolean>
                        <boolean>false</boolean>
                        <boolean>false</boolean>
                        <boolean>false</boolean>
                    </ArrayOfBoolean>
                </value>
            </setting>
        </MPRSGxZ.Settings.Sources>
        <MPRSGxZ.Settings.Sources.Source1>
            <setting name="Name" serializeAs="String">
                <value>Source 1</value>
            </setting>
            <setting name="Enabled" serializeAs="String">
                <value>False</value>
            </setting>
        </MPRSGxZ.Settings.Sources.Source1>
        <MPRSGxZ.Settings.Configuration>
            <setting name="ComPort" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="PollFrequency" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="AmplifierCount" serializeAs="String">
                <value>3</value>
            </setting>
        </MPRSGxZ.Settings.Configuration>
        <MPRSGxZ.Settings>
            <setting name="Sources" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>RCA 1/PA</string>
                        <string>RCA 2</string>
                        <string>RCA 3</string>
                        <string>RCA 4</string>
                        <string>3.5mm 1</string>
                        <string>3.5mm 2/Optical</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Zones" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Zone 1</string>
                        <string>Zone 2</string>
                        <string>Zone 3</string>
                        <string>Zone 4</string>
                        <string>Zone 5</string>
                        <string>Zone 6</string>
                        <string>Zone 7</string>
                        <string>Zone 8</string>
                        <string>Zone 9</string>
                        <string>Zone 10</string>
                        <string>Zone 11</string>
                        <string>Zone 12</string>
                        <string>Zone 13</string>
                        <string>Zone 14</string>
                        <string>Zone 15</string>
                        <string>Zone 16</string>
                        <string>Zone 17</string>
                        <string>Zone 18</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ComPort" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="PollFrequency" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="AmplifierCount" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AmplifierTypes" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>6</string>
                        <string>6</string>
                        <string>6</string>
                    </ArrayOfString>
                </value>
            </setting>
        </MPRSGxZ.Settings>
    </userSettings>
</configuration>